.search-container {
  width: 56%;
  height: 100vh;
  border-right: 1px solid black;

  &__top {
    height: 35%;
    border-bottom: 1px solid black;
  }

  &__text {
    padding-left: 4.95%;
    padding-top: 2%;
    padding: 2% 2% 2% 4.95%;
    text-align: left;

    p {
      font-size: 20px;
    }
  }
}

.weirdness-slider {
  margin: 1% 10% 3% 10%;
}

#search-term {
  padding: 10px;

  &__label {
  }
}

.search-form {
  display: flex;
  justify-content: flex-start;
  margin-left: 4.95%;
}

#search-button {
  padding: 0 30px 0 30px;
  margin-top: 1rem;
  max-height: 40px;
  background: darkgrey;
}
