.weirdness-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headline {
    font-size: 35px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.weirdness-gif-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.weirdness-button-section {
  padding-top: 100px;
}

#weirdness-button-start-over {
  padding: 0 30px 0 30px;
  margin-top: 1rem;
  height: 40px;
  background: rgb(117, 114, 114);
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 600 !important;
}
